body {
  background-color: rgb(32, 38, 38);
  background-image: url(../img/programing-lang-background.jpeg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
 }
.startQuiz h4 {
  background-color: rgb(255, 98, 0);
  color: bisque;
  margin-top: 68px;
  margin-left: 25px;
}
