body {
  background-color: rgb(32, 38, 38);
 }
#startContainer h4 {
  background-color: rgb(255, 98, 0);
  color: bisque;
}
#startContainer img {
  width: 100%;
  height: auto;
}
#question2 img{
  width: 100%;
  height: auto;
}
.none {
  display: none;
}
